<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="../images/favicon.ico">

    <link rel="stylesheet" href="../css/style.css">

    <title><%= name %></title>
</head>
<body class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../"><img src="../images/favicon.ico" alt="">Eventure</a>
  
          <div class="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" href="../">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../category">Categorys</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../item">Items</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    
    <div class="itemBlock">
      <span class="title"><%= name %></span>
      <div class="content">
        <p style="white-space: pre-line"><%= description %></p>

        <div>
          <img src="../images/<%= imgName %>.png" alt="brand logo" width =200>
          <br>
          <a class="btn btn-secondary" href="<%= link %>" target="_blank" rel="noopener noreferrer">
            <span style="vertical-align: middle;" class="material-icons">&#xE157;</span> 
            <%= name %>
          </a>
        </div>
      </div>
    </div>

    <span class="title">Recommended</span>
    <div id="recommendedContent" class="content" ></div>

    <footer>
      © Eventure 2021
    </footer>

    <script src="../js/recommended.js"></script>
</body>
</html>